@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.homepage{
    height: 5382px;
    background: linear-gradient(181deg, #000 0.82%, #1d0f00 129.1%);
    backdrop-filter: blur(7px);
}
.top{
    display: flex;
}
.logo{
    color: #FFF;
font-family: Poppins;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: 153.5%; 
display: flex;
padding: 0px 55px;
margin-top: 15px;
gap: 636px;
}
.menu{
    z-index: 999;
}
.menu ul{
    display:flex;
    gap: 88px;
    list-style-type: none;    
}
.menu a{
    text-decoration: none;
    width: 50.6px;
    height: 24.201px;
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.menu ul li:hover
{
    border-bottom:#FA9021 solid 3px;
    color: red;
    cursor: grab;
}
#lastli{
    width: fit-content;
height: fit-content;
flex-shrink: 0;
border-radius: 6px;
background: #FA9021;
padding-bottom: 3px;
padding-left: 20px;
padding-right: 20px;
}
.center{
    display: flex;
    gap: 98px;
    padding: 0px 147px;
    align-items: center;
    position: relative;
}
.rightcontent button:hover{
    cursor: pointer;
}
.rightcontent{
    margin-top: 143px;
}
.rightcontent span{
    width: 161.061px;
    color: #E87D0E;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 155.2%; /* 31.04px */
}
.rightcontent h1{
    width: 479.629px;
    color: #FFF;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 155.2%; /* 77.6px */
margin-top: 17px;
}
.rightcontent p{
    width: 527px;
height: 101px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 200%; /* 32px */
margin-top: 27px;
}
.rightcontent button{
    width: 195px;
height: 53px;
flex-shrink: 0;
border-radius: 40px;
background: linear-gradient(92deg, #FA8305 2.08%, #FB9E3C 117.25%);
border-style: none;
margin-top: 50px;
}
.rightcontent a{
    text-decoration: none;
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#img4{
  position: absolute;
  right: 5px;
top: -50px;
}
#img3{
    position: absolute;
    left: 1200px;
    top: 150px;
}
#img2{
    position: absolute;
    left: 900px;
    top: 135px;
}
.unity{
    width: 6px;
    height: 30px;
    flex-shrink: 0;
    position: absolute;
    left: 700px;
}
.sec2{
    display: flex;
    padding: 0px 147px;
    margin-top: 178px;
   justify-content: space-between;
}
.sec2 h6{
    color: #FFF;
font-family: Rubik;
font-size: 31px;
font-style: normal;
font-weight: 700;
line-height: 187.5%; /* 58.125px */
}
.sec2 a{
    color: #FFF;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 187.5%; /* 37.5px */
text-decoration: none;
}
.sec2 button{
    width: 139px;
height: 57px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(255, 255, 255, 0.11);
border-style: none;
}
.pictures{
    display: flex;
    gap: 47px;
    padding: 0px 147px;
    margin-top: 67px;
}
.pictures p{
    color: white;   
}
.con1{
    display: flex;
    margin-top: 10px;
    padding: 0px 40px;
}
.con1 img{
    width: 25px;
height: 25px;
flex-shrink: 0;
margin-top: 5px;
}
.con1 p{
    color: #FFF;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 187.5%; /* 41.25px */
padding: 0px 4px;
}
.sec3 p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 187.5%; /* 65.625px */
padding: 0px 307px;
margin-top: 129px;
}
.sec4{
    margin-top: 64px;
    padding:0px 147px;
}
.sec4 h4{
    width: 209px;
height: 40px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 187.5%; /* 56.25px */
}
.sec4 p{
    width: 545px;
height: 101px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 30px */
margin-top: 32px;
}
#pic5{
right: 250px;
position: absolute;
z-index: -1;
}
#pic6{
border-radius: 5px;
padding: 0px 147px;
margin-top: 70px;
}
.sec5{
    width: 1440px;
height: 881px;
flex-shrink: 0;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), rgba(0, 0, 0, 0.54);
backdrop-filter: blur(2px);
background-image: url(assests/Rectangle\ 5.png);
}
.con2{
    margin-top: 157px;  
}
.con2 h6{
    width: 826px;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 187.5%; /* 56.25px */
padding: 0px 307px;
margin-top:93px;
padding-top: 30px;
}
.con2 p{
    width: 820px;
height: 60px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 30px */
padding: 25px 0px 98px 310px;
}
/* .images1{
    display: flex;
    margin-top: 99px;
    flex-wrap: wrap;
}
.images1 p{
    width: 220px;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 187.5%; 
}
img
#i1{
    padding: 0px 0px 0px 276px;
    margin-bottom: 10px;
}
#i2{
    padding: 0px 0px 0px 298px;
    margin-top: 10px;
}
#i3{
    padding:0px 70px;
    margin-bottom: 10px;
}
#i4{
    padding:0px 90px;
    margin-top: 10px;
}
#i5{
    padding:0px 70px;
    margin-bottom: 10px;
}
#i6{
    padding:0px 90px;
    margin-top: 10px;
}
#i7{
    padding:0px 70px;
    margin-bottom: 10px;
}
#i8{
    padding:0px  90px;
    margin-top: 10px;
}
#i9{
    padding:0px  70px;
    margin-bottom: 10px;
}
#i10{
    padding:0px  90px;
    margin-top: 10px;
}
#i11{
    padding:0px  70px;
    margin-bottom: 10px;
}
#i12{
    padding:0px  90px;
    margin-top: 10px;
}
.img9{
    padding:0px 120px;
} */
.images1{
    display: flex;
    flex-wrap: wrap;
}
.images1 p{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 187.5%; /* 30px */
}
#i1{
    padding: 0px 0px 0px 276px;
}
#i2{
   padding: 24px 0px 0px 298px; 
}
.img5 p{
    width: 220px;
    padding-top: 30px;
    padding-left: 198px;
}
#i3{
    padding-left:180px;
}
#i4{
   padding: 24px 0px 0px 200px; 
}
.img6 p{
    width: 192px;
    padding-top: 30px;
    padding-left: 120px;
}
#i5{
    padding-left:170px;
}
#i6{
   padding: 24px 0px 0px 190px; 
}
.img7 p{
    width: 202px;
    padding-top: 30px;
    padding-left: 110px;
}
#i7{
    padding-left:160px;
}
#i8{
   padding: 24px 0px 0px 180px; 
}
.img8 p{
    width: 202px;
    padding-top: 30px;
    padding-left: 100px;
}
#i9{
    padding:62px 0px 0px 590px;
}
#i10{
   padding: 24px 0px 0px 610px; 
}
.img9 p{
    width: 117px;
    padding-top: 30px;
    padding-left: 560px;
} 
#i11{
    padding:62px 0px 0px 150px;
}
#i12{
   padding: 24px 0px 0px 175px; 
}
.img10 p{
    width: 110px;
    padding-top: 30px;
    padding-left: 130px;
} 


.con3{
    margin-top: 141px;
}
.con3 h1{
    padding:0px 567px;
    width: 305px;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 187.5%; /* 56.25px */
}
.con3 p{
    width: 497px;
    height: 57px;
    flex-shrink: 0;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 26.25px */
padding:0px 471px;
}
.images2{
    padding: 0px 135px;
    margin-top: 71px;
}
#iz1{
    padding-bottom: 33px;
}
.im1{
    padding: 0px 20px 0px 0px;
}
.b1{
    padding: 72px 651px 105px 650px;
}
.sec6 button{
    width: 139px;
height: 57px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(255, 255, 255, 0.11);
border-style: none;
}
.sec6 a{
    color: #FFF;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 187.5%; /* 37.5px */
text-decoration: none;
}
.sec7{
padding:0px 135px;
}
.sec7 h6{
    width: 209px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 187.5%; /* 56.25px */
}
.sec7 h5{
    width: 450px;
height: 57px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 187.5%; /* 30px */
margin-top: 32px;
}
.box1{
    width: 1170px;
height: 189px;
flex-shrink: 0;
border-radius: 15px;
background: #1C140F;
display: flex;
margin-top: 74px;
}
.text1{
    padding:0px 56px;
    margin-top: 40px;
}
.text1 h4{
    width: 303px;
    color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text1 p{
    width: 420px;
    color: #FFF;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}
.button{
    margin-top: 71px;
    padding:0px 130px;
    position: relative;
}
.button input{
    width: 450px;
height: 48px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}
.button button{
    width: 104.996px;
height: 37px;
flex-shrink: 0;
border-radius: 8px;
background: #DC7000;
border-style: none;
position: absolute;
right: 140px;
top: 7px;
}
.button a{
    width: 69.299px;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.sec8{
    width: 1440px;
height: 300px;
flex-shrink: 0;
background: #070707;
display: flex;
margin-top: 163px;
}
.box2{
     padding:73px 0px 0px 101px;
}
.box2 h3{
    color: #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 153.5%; /* 36.84px */
}
.box2 p{
    width: 340px;
height: 58px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
}
.box2 h6{
    width: 196px;
height: 23px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
}
.box3{
    margin-top: 73px;
    padding:0px 0px 0px 80px;
}
.box3 h6{
    color: #FFF;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.box3 ul{
    list-style-type: none;
    width: 250px;
height: 117px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 186.3%; /* 29.808px */
margin-top: 4px;
}
.box4{
    margin-top: 73px;
    padding: 0px;
}
.box4 h6{
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.box4 p{
    width: 282px;
    height: 76px;
    flex-shrink: 0;
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}
.box4 h5{
    width: 141px;
height: 28px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.box3 ul:hover{
    cursor: pointer;
}
.sec8 img{
    /* width: 34px;
height: 34px;
flex-shrink: 0; */
margin-top: 176px;
fill: #FFF;
filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.15));
}
.box3 a{
    text-decoration: none;
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 186.3%; /* 29.808px */
}
#i13{
    padding: 0px 0px 0px 50px;
}
.sec9{
    width: 1440px;
    height: 80px;
background: #070707;
border-top: white solid 3px;
}
.sec9 p{
    color: #FFF;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 190.6%; /* 24.778px */
text-align: center;
margin-top: 40px;
}
